body {
    margin:0
}

header {
    padding: 0 20vh 0 20vh;
    display: flex;
    border: green solid 2px;
    height: 8vh;
    justify-content: space-between;
}

#logo {
    border: greenyellow solid 2px;
    height: 100%;
}

#logo img{
    height: 100%;
}

#options {
    display: flex;
    border: yellow solid 2px;
    align-items: center;
}

main {
    padding: 0 20vh 0 20vh;
    display: flex;
    border: red solid 2px;
}

#news {
    display: flex;
    border: orange solid 2px;
    width: 70%;
}

#otherInfo {
    display: flex;
    border: brown solid 2px;
    width: 30%;
}

#navNews {
    display: flex;
    border: blue solid 2px;
}

#options ion-icon {
    font-size: 1.5em;
    padding-right: 15px;
}

#option button {
    padding-right: 15px;
}