@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
    margin:0
}

p {
    margin: 0;
}

header {
    padding: 0 15vh 0 15vh;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    box-shadow: 0 5px 20px gray;
}

#logo {
    height: 100%;
    width: 70%;
}

#logo img{
    height: 100%;
}

#options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

main {
    padding: 0 15vh 0 15vh;
    display: flex;
}

#news {
    width: 65%;
    margin-left: 20px;
    margin-right: 20px;
}

#otherInfo {
    display: flex;
    border: brown solid 2px;
    width: 35%;
}

#news nav {
    display: flex;
    height: 8vh;
    align-items: end;
    width: 100%;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;

}

#news nav :nth-child(2) {
    border-bottom:black solid 2px;
}

#news nav :nth-child(1) {
    border-bottom: rgb(226, 226, 226) solid 2px;
    color: rgb(124, 124, 124) ;
}

#news nav div{
    display: inline;
    width: 56%;
    height: 100%;
    border-bottom: rgb(226, 226, 226) solid 2px;
}

#options ion-icon {
    font-size: 1.5em;
}

#options button {
    background-color: white;
    border-radius: 35px;
    height: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;

}

#options p {
    border: solid 2px;
    border-radius: 50%;
    margin: 0;
    width: 35px;
    height: 35px;
    background-color: rgb(255, 102, 0);
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav :first-child {
    margin: 0;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

nav :last-child {
    margin: 0;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#articoli {
    margin-top: 2vh;
}

.cardArticolo {
    display: flex;
    height: 20vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.cardArticolo article {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: space-around;
}

.imgArticolo  {
    width: 35%;
    overflow: none;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.imgArticolo img{
    height: 85%;
    width: 100%;
    object-fit: cover;
}

.logoFonte {
    display: flex;
    width: 100%;
    height: 3vh;
    align-items: center;
}

.logoFonte img {
    height: 100%;
    width: 3vh;
    border-radius: 20%;
}


h1 {
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}


.logoFonte p {
    margin: 0;
    margin-left: 1vh;
    font-family: "Google Sans", sans-serif;
    font-weight: 700;
    font-optical-sizing: auto;
    font-size: 0.9em;
}

.logoFonte p span {
    font-weight: 400;
}

.cardArticolo article h1 {
    font-family: "Google Sans", sans-serif;
    font-weight: 800;
}
.fontDescrizione {
    height: 25%;
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    color: rgb(110, 110, 110);
    font-size: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.otherInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#otherInfo {
    display: flex;
    border: rgb(100, 67, 24) solid 2px;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.timing {
    height: 3vh;
    display: flex;
    align-items: center;
}

.otherButton {
    display: flex;
    justify-content: end;
}

.otherButton ion-icon {
    font-size: 1.5em;
}

.otherButton :first-child {
    margin-right: 8px;
}

.otherInfo p {
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.otherInfo :nth-child(5) {
    background-color: rgba(190, 190, 190, 0.534);
}

#twitterZone {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35vh;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

#loghiMediumTwitter {
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
}

#loghiMediumTwitter img {
    height: 80%;
}

#loghiMediumTwitter ion-icon {
    font-size: 1.5em;
}

#twitterZone p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-size: 1.5em;
}

#twitterZone button {
    display: flex;
    height: 40px;
    width: 20vh;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
}

#twitterZone button img {
    height: 100%;
}

.sottoTitoliOtherInfo {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-optical-sizing: auto;
    font-size: 1.2em;
    padding-left: 30px;
}

#buttonTopics {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: start;
}

#buttonTopics li {
    list-style-type: none;
    background-color: rgba(231, 231, 231, 0.733);
    padding: 15px;
    margin: 5px;
    border-radius: 24px;
}


#followList {
    width: 100%;
}

#peopleAccount {
    padding: 0;

}

.accountInfo {
    list-style-type: none;
    display: flex;
    height: 6vh;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.fotoEnome {
    display: flex;
    height: 100%;
    align-items: center;
}
.fotoEnome img {
    height: 100%;
    width: 6vh;
    overflow: hidden;
    border-radius: 50%;
}

.nomeConDescrizione {
    margin-left: 15px;
}

.accountInfo button {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

#salvatiRecenti {
    width: 100%;
}

#imgAutoreArticolo {
    display: flex;
    border: yellowgreen solid 2px;
    height: 3vh;
    align-items: center;
}

#imgAutoreArticolo img {
    height: 100%;
    width: 3vh;
    border-radius: 20%;
}

.timingSalvati {
    border: rgb(107, 0, 89) solid 2px;
    width: 80%;
    height: 3vh;
    display: flex;
    align-items: center;
}

.timingSalvati p {
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.timingSalvati ion-icon {
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.imgProfiloCommenti {
    display: flex;
    border: yellowgreen solid 2px;
    height: 3vh;
    align-items: center;
}

.imgProfiloCommenti img {
    height: 100%;
    width: 3vh;
    border-radius: 20%;
}

#salvatiRecenti a {
    color: green;
    text-decoration: none;
}

footer a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
}

#articoloSalvato p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
}


