body {
    margin:0
}

header {
    padding: 0 20vh 0 20vh;
    display: flex;
    border: green solid 2px;
    height: 10vh;
    justify-content: space-between;
}

#logo {
    border: greenyellow solid 2px;
    height: 100%;
    width: 70%;
}

#logo img{
    height: 100%;
}

#options {
    display: flex;
    border: yellow solid 2px;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

main {
    padding: 0 20vh 0 20vh;
    display: flex;
    border: red solid 2px;
}

#news {
    display: flex;
    border: orange solid 2px;
    width: 65%;
}

#otherInfo {
    display: flex;
    border: brown solid 2px;
    width: 35%;
}

#navNews {
    display: flex;
    border: blue solid 2px;
}

#options ion-icon {
    font-size: 1.5em;
}

#options button {
    background-color: white;
    border-radius: 35px;
    height: 35px;
}

#options p {
    border: solid 2px;
    border-radius: 50%;
    margin: 0;
    width: 35px;
    height: 35px;
    background-color: rgb(255, 102, 0);
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}