body {
    margin:0
}

header {
    padding: 0 15vh 0 15vh;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    box-shadow: 0 5px 20px gray;
}

#logo {
    height: 100%;
    width: 70%;
}

#logo img{
    height: 100%;
}

#options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

main {
    padding: 0 15vh 0 15vh;
    display: flex;
    border: red solid 2px;
}

#news {
    display: flex;
    border: orange solid 2px;
    width: 65%;
}

#otherInfo {
    display: flex;
    border: brown solid 2px;
    width: 35%;
}

#news nav {
    display: flex;
    border-bottom: rgb(226, 226, 226) solid 2px;
    height: 8vh;
    align-items: end;
    width: 100%;
}

#options ion-icon {
    font-size: 1.5em;
}

#options button {
    background-color: white;
    border-radius: 35px;
    height: 35px;
}

#options p {
    border: solid 2px;
    border-radius: 50%;
    margin: 0;
    width: 35px;
    height: 35px;
    background-color: rgb(255, 102, 0);
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav :first-child {
    margin: 0;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

nav :last-child {
    margin: 0;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
}